<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Ticketera </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="prueba">
      <ion-title>Menu Content</ion-title>
      <ion-menu-toggle>
        <ion-button>Click to close the menu</ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/login">Login</ion-item>
      <ion-item routerLink="/register">Register</ion-item>
      <ion-item routerLink="/forgot-password">Forgot Password</ion-item>
      <ion-item routerLink="/profile">Profile</ion-item>
      <ion-item routerLink="/about">About</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Ticketera V1</ion-title>
      <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input
          type="text"
          label="Nombre"
          labelPlacement="floating"
          placeholder="Ingrese su nombre"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Apellido"
          labelPlacement="floating"
          placeholder="Ingrese su apellido"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Usuario"
          labelPlacement="floating"
          placeholder="Ingrese su Usuario"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Teléfono"
          labelPlacement="floating"
          placeholder="Ingrese su teléfono"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          label="Descripcion del error"
          labelPlacement="floating"
          auto-grow="true"
          rows="1"
        ></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="onClick()"
      >Enviar</ion-button
    ></ion-content
  >
</div>

<!-- <ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        label="Nombre"
        labelPlacement="floating"
        placeholder="Ingrese su nombre"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        label="Apellido"
        labelPlacement="floating"
        placeholder="Ingrese su apellido"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        label="Usuario"
        labelPlacement="floating"
        placeholder="Ingrese su Usuario"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        label="Teléfono"
        labelPlacement="floating"
        placeholder="Ingrese su teléfono"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        label="Descripcion del error"
        labelPlacement="floating"
        auto-grow="true"
        rows="1"
      ></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="onClick()">Enviar</ion-button>
</ion-content> -->
